
*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html
{
    scroll-behavior: smooth;
    background-color: black;
    color: white;
    font-family: "IBMPlexMono", monospace;
}

.version
{
    position: fixed;
    right: 25px;
    top: 10px;
    font-size: 0.7rem;
    opacity: 0.5;
    z-index: 1000;
}

.page
{
    padding: 40px;
}

#root
{
    height: 100%;
}

.page-container
{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.page-content
{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 100vh;
}

.page-wrapper
{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

a{
    color: rgb(144, 202, 249);
}

.chat-container
{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    height: 100vh;
    min-height: 0; 
}

input, textarea
{
    font-family: inherit;
}

button{
    cursor: pointer;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
}

@font-face {
    font-family: "IBMPlexMono";
    src: url("../../public/fonts/IBMPlexMono-Regular.ttf") format("truetype");
}