

.chat-information
{
    padding-bottom: 30px;
    border-bottom: 1px solid #e0e0e05f;
    position: relative;
}

.chat-message
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1rem;
    margin-top: 15px;
}

.chat-message.user
{
    text-align: right;
    align-items: flex-end;
}

.chat-message.error
{
    color: #ff4c4c;
    font-weight: bold;
}

.chat-content-container
{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    scroll-behavior: smooth;
    justify-content: flex-end;
    padding-bottom: 30px;
    padding-top: 1px !important;
}

.under-text
{
    display: flex;
    gap: 5px;
    width: fit-content;
    height: fit-content;
}

.under-text .retry-img
{
    height: 16px;
    width: 16px;
    cursor: pointer;
}

#chat-content
{
    scroll-behavior: smooth;
    overflow-y: scroll;
    justify-content: flex-end;
    gap: 20px;
    padding-bottom: 50px;
    padding-right: 15px;
}

#chat-input
{
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
    padding-right: 15px;
}


.text-input
{
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    text-align: right;
    flex-wrap: wrap;
    resize: none;
    overflow: hidden;
    padding-left: 15px;
}

.text-input:focus
{
    outline: none;
}

.timestamp
{
    opacity: 0.7;
}


.chat-title
{
    margin: 0;
    margin-bottom: 18px;
    font-size: 1.8rem;
}

.chat-id
{
    margin: 0;
    font-size: 0.9rem;
    margin-bottom: 12px;
    opacity: 0.8;
}

.chat-created
{
    margin: 0;
    font-size: 0.9rem;
    opacity: 0.8;
}

.one-line
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 0px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

.chat-info-row {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.chat-meta-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.thinking {
    color: #ff9800;
    font-weight: bold;
}
.online {
    color: #4caf50;
    font-weight: bold;
}

.dimmed {
    opacity: 0.6;
}

.offline
{
    color: #f44336;
    font-weight: bold;
}

.delete-chat
{
    margin-left: 20px;
    cursor: pointer;
}

.delete-chat:hover
{
    text-decoration: underline;
}

.chat-message {
    opacity: 0;
}

.chat-message.fly-down {
    animation: flyDown 0.4s ease-out forwards;
}

.bot-status
{
    display: flex;
    gap: 5px;
}

.right-side-info
{
    display: flex;
    gap: 10px;
}

.full-opacity
{
    opacity: 1 !important;
}

.bot-status .bot-text {
    opacity: 0.7;
}

@keyframes flyDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
