
@media (max-width: 750px) {
    
    .version
    {
        right: 15px !important;
    }

    .page-container
    {
        flex-direction: column;
    }

    .footer
    {
        padding-left: 15px;
    }

    .page-wrapper
    {
        padding-left: 56px !important;
    }

    .dropdown-menu
    {
        width: 100%;
        background-color: black;
    }

    .nav-bar
    {
        background-color: black;
        z-index: 20;
        gap: 0px !important;
        position: absolute;
        overflow: none;
        padding-top: 5px;
        padding-bottom: 5px;
        transition: width 0.3s cubic-bezier(.4,2,.6,1) !important;
    }

    .nav-items
    {
        width: 100%;
        justify-content: space-between;
    }

    .nav-button
    {
        width: fit-content;
    }


    .nav-bar .mobile
    {
        display: block;
    }

    .right-side-info
    {
        margin-top: 20px;
        width: 100%;
        gap: 0px;
        justify-content: space-between;
    }

    .chat-meta-row
    {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
    
    .page-wrapper
    {
        height: 100%;
        padding: 0px;
        padding-bottom: 20px;
    }


    .chat-container
    {
        padding: 0px;
    }

    .chat-title
    {
        font-size: 1rem;
        width: fit-content;
    }

    #chat-input
    {
        margin-bottom: 50px;
    }

    .chat-content-container
    {
        padding: 15px;
        padding-bottom: 30px;
    }

    .chat-information
    {
        padding: 15px;
        padding-bottom: 30px;
        padding-top: 20px;
    }
    
    .option label
    {
        width: 100% !important;

    }

    .option.slider
    {
        justify-content: space-between;
        gap: 20px;
        align-items: flex-end !important;
    }
    
    .option.slider label
    {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    #settings input[type="range"]
    {
        margin-left: 0px !important;
        margin-right: 0px !important;
        width: 100% !important;
    }
    
    .page
    {
        padding: 20px;
        padding-top: 30px;
    }

    .chats-remaining
    {
        display: none;
    }

    .home-buttons
    {
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .nav-bar:hover
    {
        width: 60px;
    }

    .nav-bar .chat-history-container,
    .nav-bar .nav-bar-bottom {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
    }

    .nav-bar.mobile-open .chat-history-container,
    .nav-bar.mobile-open .nav-bar-bottom {
        opacity: 1;
        pointer-events: auto;
    }

    .nav-bar:hover .nav-text 
    {
        opacity: 0;
    }

    .nav-bar.mobile-open
    {
        width: 230px !important;
    }

    .nav-bar.mobile-open .nav-text
    {
        opacity: 1;
    }

    .nav-bar.mobile-open .chat-history
    {
        display: flex;
    }

    .mr-meanie-insult
    {
        margin-top: 30px;
    }

    .home-text
    {
        margin-top: 20px;
    }

    .home-text h2
    {
        font-size: 0.8rem;
    }

}


@media (max-width: 600px) {
    .footer-extra
    {
        display: none;
    }
}