.nav-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    overflow: hidden;
    transition: width 0.3s cubic-bezier(.4,2,.6,1);
    width: 60px;
    min-width: 60px;
    border-right: 1px solid #e0e0e05f;
    padding-top: 18px;
    gap: 10px;
    padding-left: 2px;
}

.nav-bar:hover {
    width: 230px;
}

.nav-button {
    display: flex;
    align-items: center;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    padding: 12px 16px;
    cursor: pointer;
    transition: background 0.2s;
    font-size: 1rem;
}

.nav-icon {
    font-size: 1.3em;
    min-width: 24px;
    text-align: center;
    outline: 1px solid rgba(255, 255, 255, 0.337);
    min-height: 24px;
}

.nav-text {
    margin-left: 12px;
    white-space: nowrap;
    overflow: hidden;
    transition: opacity 0.2s;
    opacity: 0;
    font-size: 0.8rem;
}

.nav-text:hover
{
    font-weight: bold;
}

.nav-bar:hover .nav-text {
    opacity: 1;
    width: auto;
    margin-left: 12px;
}

.nav-bar.minimized .nav-text {
    opacity: 0;
    width: 0;
    margin-left: 0;
    pointer-events: none;
}

.nav-bar.expanded .nav-text {
    opacity: 1;
    width: auto;
    margin-left: 12px;
}

.chat-history {
    width: 100%;
    margin-top: 16px;
}

.nav-bar-top {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
}

.nav-bar-bottom 
{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-bar-bottom span
{
    font-size: 1rem;
    cursor: pointer;
}


.chat-history
{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 15px;
    padding: 12px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.history-item
{
    margin-bottom: 8px;
    font-size: 0.8rem;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    width: fit-content;
    opacity: 0;
    display: flex;
    gap: 5px;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
}

.history-item:hover
{
    font-weight: bold;
}

.history-item p
{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.history-item .timestamp
{
    opacity: 0.6;
}

.history-item .timestamp small
{
    font-size: 0.6rem !important;
}

.chat-history .history-item.fly-down {
    animation: flyDown 0.2s ease-out forwards;
}

@keyframes flyDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}