.nav-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    width: 60px;
    min-width: 60px;
    border-right: 1px solid #e0e0e05f;
    padding-top: 18px;
    gap: 10px;
    padding-left: 2px;
    padding-right: 2px;
    box-sizing: border-box;
}

.nav-text:hover
{
    font-weight: bold;
}

.nav-bar:hover .history-title
{
    display: block;
}

.nav-items-spacer
{
    display: flex;
    flex-direction: column;
}

.nav-items
{
    display: flex;
    flex-direction: column;
}

.nav-items .mobile
{
    display: none;
}

.nav-bar:hover .nav-text {
    opacity: 1;
    width: auto;
    margin-left: 12px;
}

.nav-bar:hover .chat-history
{
    display: flex;
}

.nav-bar:hover {
    width: 230px;
}

.nav-button {
    display: flex;
    align-items: center;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    padding: 12px 16px;
    cursor: pointer;
    transition: background 0.2s;
    font-size: 1rem;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.nav-button.active
{
    opacity: 1;
}

.nav-icon {
    font-size: 0.5rem;
    min-width: 24px;
    text-align: center;
    /* outline: 1px solid rgba(255, 255, 255, 0.337); */
    min-height: 24px;
    width: 24px;
    height: 24px;
    padding: 3px;
}

.nav-text {
    margin-left: 12px;
    white-space: nowrap;
    overflow: hidden;
    transition: opacity 0.2s;
    opacity: 0;
    font-size: 0.8rem;
}


.nav-bar.minimized .nav-text {
    opacity: 0;
    width: 0;
    margin-left: 0;
    pointer-events: none;
}

.nav-bar.expanded .nav-text {
    opacity: 1;
    width: auto;
    margin-left: 12px;
}

.nav-bar-top {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: hidden;
    overflow-x: hidden;
}

.nav-bar-bottom 
{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-bar-bottom span
{
    font-size: 1rem;
    cursor: pointer;
}

.chat-history-container
{
    flex: 1;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 12px;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 25px;
}

.chat-history
{
    display: none;
    height: 100%;
    flex-direction: column;
    gap: 10px;
    padding-top: 15px;
    overflow-x: hidden;
    width: 100%;
    margin-top: 15px;
    padding-right: 2px;
}



.history-item
{
    margin-bottom: 8px;
    font-size: 0.8rem;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    opacity: 0;
    display: flex;
    gap: 5px;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
    transition: margin-left 0.2s ease-out;
}

.history-item .chat-title
{
    font-size: 0.8rem;
    margin: 0;
    width: fit-content;
}

.history-item.active
{
    margin-left: 5px;
}

.history-item.active .chat-title
{
    border-bottom: 1px solid white;
}

.history-title
{
    margin-bottom: 12px;
    font-size: 1rem;
    font-weight: lighter;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    width: fit-content;
    opacity: 0;
    width: 100%;
    display: none;
}

.history-item:hover .chat-title
{
    font-weight: bold;
}

.history-item p
{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.history-item .timestamp
{
    opacity: 0.6;
}

.history-item .timestamp small
{
    font-size: 0.6rem !important;
}

.chat-history .history-item.fly-down {
    animation: flyDown 0.2s ease-out forwards;
}

.history-title.fly-down {
    animation: flyDown 0.2s ease-out forwards;
}


@keyframes flyDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}